body{
  background: #999;
  background: -moz-linear-gradient(top, #fff 0%, #bbb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ABC9C), color-stop(100%, #113344));
  background: -webkit-linear-gradient(top, #fff 0%, #bbb 100%);
  background: -o-linear-gradient(top, #fff 0%, #bbb 100%);
  background: -ms-linear-gradient(top, #fff 0%, #bbb 100%);
  background: linear-gradient(to bottom, #fff 0%, #bbb 100%);
  background-size: 150% 150%;
  z-index: 3;
  opacity: 1;
}

/* Editor  NON CANCELLARE*/
.disabled {
	background-color: #999 !important;
}


body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale; 
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
}

.avatar-circle {
    border-radius: 50%;
	width: auto;
	height: 9em;
	border: 2px solid grey;
}

.btn{
	margin: .5em;
}

.modal-body .row, .modal-body .progress, .modal-body .table{
	margin-bottom: 3em;
}

.chat{
	background: #efefef;
	color: #333;
	padding: 1em;
	margin-bottom:1em;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  box-shadow: 0em 0.1em .5em  #aaa;
  display: inline-block;
  width: auto;
  max-width: 80%;
  float: right;
  z-index: 0;
  vertical-align: middle;

}
.portrait{
  float: left;
  text-align: center;
  margin-top: -.5em;
}

.portrait > img{
  box-shadow: inset 0 0 0.5em gray;
  display: inline-block;
  height: 10em;
  background: #eee;
  position: relative;
  top: 0em;
  left: 0em;
  border-radius: 100%;
  z-index: 2;
  margin: 1em;
  margin-left: 5em;
  margin-right: 5em;
  vertical-align: middle;
  width: auto;
  height: 5em;
}

.portrait > p{
	margin-top: -.5em;
}

.chat .h5{
  float: right;
  padding: 1em;
  color:#999;
  vertical-align: middle;
}

.foto-chat{
	border: 1px solid black;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.card .header {
  /*padding: 15px 15px 0;*/
  text-align: center;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 300;
  margin: 20px 0 15px;
}

h1, .h1 {
  font-size: 52px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 28px;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 18px;
}

h5, .h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}


/*   navbar    */
.navbar {
  font-size: 16px;

  /*background-color: #AA4444;
  color:#FF4900;
  background: #FF4900;
  background: -moz-linear-gradient(top, #AA4444 0%, #FF4900 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AA4444), color-stop(100%, #FF4900));
  background: -webkit-linear-gradient(top, #AA4444 0%, #FF4900 100%);
  background: -o-linear-gradient(top, #AA4444 0%, #FF4900 100%);
  background: -ms-linear-gradient(top, #AA4444 0%, #FF4900 100%);
  background: linear-gradient(to bottom, #AA4444 0%, #FF4900 100%);
  background-size: 150% 150%; */
/*background: #ff4900; 
/* Old browsers */
/*background: -moz-linear-gradient(top,  #ff4900 0%, #ff7b00 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top,  #ff4900 0%,#ff7b00 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom,  #ff4900 0%,#ff7b00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4900', endColorstr='#ff7b00',GradientType=0 ); /* IE6-9 */

}
  

.navbar .navbar-brand {
  font-weight: 400;
  margin: 5px 0px;
  padding: 15px 15px;
  font-size: 2em;
  color: #eee;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
}
.navbar .navbar-nav > li > a {
  padding: 10px 15px;
  margin: 10px 5px;
  position: relative;
  color: #eee;
}
.navbar .navbar-nav > li > a.btn {
  margin: 15px 3px;
  padding: 8px 16px;
}
.navbar .navbar-nav > li > a.btn-round {
  margin: 16px 3px;
}
.navbar .navbar-nav > li > a [class^="fa"] {
  font-size: 19px;
  position: relative;
  line-height: 16px;
  top: 1px;
}

/*
collapse horizzontaly stuff
*/
.collapse {
  height: auto;
  width: auto;
}

.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapse.width {
  position: relative;
  right: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: width 0.60s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.60s ease;
}

.collapse.in.width {
  width: auto;
  visibility: visible;
  left: 0;
}

.collapse.in.height {
  height: auto;
}
