<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>The Barbarian Steppe</title>
		<link rel="icon" type="image/png" href="img/logo.png">

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/login.css">

		<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
	</head>

	<body>
		<div class="login-page">
			<h2 class="title">
				The Barbarian Steppe
			</h2>

			<div class="form">
				<form class="login-form" action="/login" method="post">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger">  <%= message %> </div>
                    <% } %>
					<input type="text" placeholder="username" name="username" <% if (username.length > 0) { %> value="<%= username %>" <% } %>/>
					<input type="password" placeholder="password" name="password" />
					<button type="submit">Login</button>
					<p class="message">
						New here? <a href="/signup">Sign up here</a>
					</p>
				</form>
			</div>
		</div>
	</body>
</html>
