<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>The Barbarian Steppe</title>
		<link rel="icon" type="image/png" href="img/logo.png">

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/login.css">

		<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
	</head>

	<body>
		<div class="login-page">
			<div class="title">
				<img src="/img/logo.png"/>
				<h1>The Barbarian Steppe<h1>
			</div>

			<div class="form">
				<form class="login-form" action="/login" method="post">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger">  <%= message %> </div>
                    <% } %>
					<input type="text" placeholder="username" name="username" <% if (username.length > 0) { %> value="<%= username %>" <% } %>/>
					<input type="password" placeholder="password" name="password" />
					<button type="submit">Login</button>
					<p class="message">
						New here? <a href="/signup">Sign up here</a>
					</p>
				</form>
			</div>
		</div>

		<footer class="footer">
            <h4>The Barbarian Steppe</h4>
			<span>Alice Valentini, Lorenzo Cazzoli, Luca Casini, Manfredi Giordano</span>
			<br>
			<span>Project for <em>Interazione Persona-Computer</em> exam, University of Bologna, academic year 2015-2016</span>
		</footer>
	</body>
</html>
