@import 'https://fonts.googleapis.com/css?family=Roboto:700,400,300,100';

body{
  background: #ddd;
  background: -moz-linear-gradient(top, #eee 0%, #bbb 100%) no-repeat center center fixed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #bbb)) no-repeat center center fixed;
  background: -webkit-linear-gradient(top, #eee 0%, #bbb 100%) no-repeat center center fixed;
  background: -o-linear-gradient(top, #eee 0%, #bbb 100%) no-repeat center center fixed;
  background: -ms-linear-gradient(top, #eee 0%, #bbb 100%) no-repeat center center fixed;
  background: linear-gradient(to bottom, #eee 0%, #bbb 100%) no-repeat center center fixed;
  background-size: cover;
  opacity: 1;
}

/* Editor */
.CodeMirror .disabled {
	background-color: rgba(200,100,100,0.4) !important;
}
.btn-group > .disabled{
    background-color: #ccc !important;
}

body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
}
/*
.btn {
  font-family: "Roboto", sans-serif;
  border-radius: 0;
  outline: 0;
  border: 0;
  width:100%;
  padding: 15px 0 15px 0;
margin-left: 0;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
*/

.avatar-circle {
  border-radius: 100%;
  width: 9em;
  height: 9em;
  object-fit: cover;
  border: 2px solid grey;
  background-color: #635e77;
  margin: 15px;
}

.imgform{
	display: inline-block;
}

.progress {
  margin: 2em auto;
}

/*.progress-bar {
	width: 70%;
}*/

.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
  border-radius: 0px !important;
}

.floating-buttons .btn{
	margin: .5em;
}

.modal-body .row, .modal-body .progress, .modal-body .table{
	margin-bottom: 3em;
}

.panel{
  margin: 15px;
  border-radius: 0px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.2);
}

.portrait{
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.2);
  display: inline-block;
  background: #635e77;
  border-radius: 100%;
  z-index: 2;
  margin: auto 10px;
  float: left;
  width: auto;
  height: 5em;
}



.mybadge{
  height: 32px;
  width: auto;
  display: inline-block;
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 300;
  margin: 20px 0 15px;
}

h1, .h1 {
  font-size: 52px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 28px;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 18px;
}

h5, .h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}


/*		navbar		*/

hr{
  border-color: #666;
}

@media (min-width: 768px) {

	.navbar{
    z-index: 10;
	  max-width:80px;
    -webkit-transition: max-width 0,5s ease-in-out;
    transition: max-width 0.5s ease-in-out;
		margin-right: 0;
		margin-left: 0;
		height:100%;
    position: fixed;
    border-radius: 0px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5);
    background-color: #333;
	}

	.navbar-nav,
	.navbar-nav > li,
	.navbar-left,
	.navbar-right,
	.navbar-header{
		float:none !important;
	}

	.navbar-nav{
		padding-top:5em;
	}

	.navbar .navbar-nav > li > a {
	  /*padding: 10px;*/
	  margin: 10px 10px 10px auto;
	  position: relative;
    overflow: hidden;
	  color: #eee;
    font-size: 200%;
    white-space: nowrap;
    font-weight: 300;
	}

  .navbar ul{
    margin-top: 115px;
  }
  .nav-title{
    padding: 5px;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    font-weight: 100;
    font-size: 80%;
    text-align: center;
    transition: opacity .7s ease-in;
  }
  .navbar ul span{
    padding: 0px 20px;
    font-size: 70%;
    vertical-align: middle;
  }

  .navbar .container{
    margin: auto;
    padding-right: 0px;
    margin-bottom: 0px;
  }

	.navbar-brand{
    position: fixed;
    max-width: 180px;
    width: auto;
    height: auto;
    text-align: center;
  }
	.navbar-brand > img{
	  width: 50px;
	  height: auto;
	  margin: 15px 20px 15px 0px;
    float: left;
	  background-color: #383448;
	  border-radius: 100%;
    transition: all .5s ease-in-out;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
	}

	.navbar-brand > img:hover{
    background-color: #433d58;
	}

  .navbar:hover{
  max-width: 180px;
  }

  .navbar:hover .navbar-brand>img{
    margin: 15px 15px 15px 15px;
    width: 120px;
  }

  .navbar:hover .nav-title{
    visibility: visible;
    opacity: 100;
  }

}

.footer{
  text-align: center;
  color: rgba(0,0,0,0.5);
  position: relative;
  bottom: 0px;
  margin: 60px auto ;
  padding: 0px;
  z-index: -10;
  font-weight: 200;
}

.game {
	cursor: crosshair;
  margin: auto 0px 10px 0px;
  border: 1px solid grey;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.4);
}

.floating-buttons{
  position: relative;
  z-index: 5;
}
.floating-buttons button{
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.3);
  font-size: 200%;
  border-radius: 100%;
  filter: brightness(80%);
}

.floating-buttons button:hover{
  filter: brightness(120%);
}

a, button:focus{
  outline: none !important;
}

.CodeMirror{
  height: auto !important;
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.3);
  position: fixed;
  margin: 0;
  top: 0;
}

#mc-container{
  text-align: center;
  margin: auto 15px;
}
.row{
  margin: 0;
}

#chat-panel{
  margin: 5px 15px 10px 15px;
  height: auto;
}

#chat-text{
  display: none;
}

#chat-body{
  height: 260px;
  overflow-y: scroll;
}

.msg{
  padding: 0px 15px 15px;
  background-color: #eee;
  box-shadow: 0px 2px 5px 1px lightgrey;
  margin: auto auto 15px 25%;
  min-height: 60px;

}

.msg:before{
  background-color: #eee;
  box-shadow: -1px 3px 2px -1px rgba( 178, 178, 178, .4 );
  content: "\00a0";
  display: block;
  height: 20px;
  left: -25px;
  position: relative;
  top: 20px;
  transform:             rotate( 45deg );
      -moz-transform:    rotate( 45deg );
      -ms-transform:     rotate( 45deg );
      -o-transform:      rotate( 45deg );
      -webkit-transform: rotate( 45deg );
  width:  20px;
}

.msg > .portrait{
  margin-left: -115px;
  margin-top: -25px;
}

.panel-heading{
  font-weight: 700;
  font-size: 120%;
}

.introjs-helperLayer{
  background-color: rgba(255,255,255,0.5) !important;
}

.tutorial{
  background-color: #eee;
  padding: 15px;
  margin-left: 25%;
  width: 75%;
  box-shadow: 0px 2px 5px 1px lightgrey;
}

.tutorial:before{
  background-color: #eee;
  box-shadow: -1px 3px 2px -1px rgba( 178, 178, 178, .4 );
  content: "\00a0";
  display: block;
  height: 20px;
  left: -25px;
  position: relative;
  top: 20px;
  transform:             rotate( 45deg );
      -moz-transform:    rotate( 45deg );
      -ms-transform:     rotate( 45deg );
      -o-transform:      rotate( 45deg );
      -webkit-transform: rotate( 45deg );
  width:  20px;
}

.fa-user{
  /*necessario perchè icona più piccola delle altre*/
  margin-right: 5px;
}

.level-description{
  margin: 15px auto;
}

.badge-lock {
    background-color: #aaa;
    opacity: 50%;
}

#badge-div{
  text-align: center;
}

#badge-description{
  font-weight: 700;
}