body{
  background: #999;
  background: -moz-linear-gradient(top, #fff 0%, #bbb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ABC9C), color-stop(100%, #113344));
  background: -webkit-linear-gradient(top, #fff 0%, #bbb 100%);
  background: -o-linear-gradient(top, #fff 0%, #bbb 100%);
  background: -ms-linear-gradient(top, #fff 0%, #bbb 100%);
  background: linear-gradient(to bottom, #eee 0%, #bbb 100%);
  background-size: 150% 150%;
  z-index: 3;
  opacity: 1;
}

/* Editor */
.disabled {
	background-color: #999 !important;
}


body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale; 
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
}

.avatar-circle {
    border-radius: 50%;
	width: auto;
	height: 9em;
	border: 2px solid grey;
}

.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.btn{
	margin: .5em;
}

.modal-body .row, .modal-body .progress, .modal-body .table{
	margin-bottom: 3em;
}

.panel{
  text-align: center;
}
.portrait{
  box-shadow: 0 0.1em 0.3em grey;
  display: inline-block;
  background: #635e77;
  border-radius: 100%;
  z-index: 2;
  margin: auto;
  width: auto;
  height: 8em;
  cursor: pointer;
}

.portrait:hover{
  background: #b8b5c5;
  box-shadow: 0 0.2em .5em grey;
}
.portrait > p{
	margin: 0.5em auto;
  text-align: center;
}

.mybadge{
  height: 32px;
  width: auto;
  display: inline-block;
}

.chat .h5{
  float: right;
  padding: 1em;
  color:#999;
  vertical-align: middle;
}

.foto-chat{
	border: 1px solid black;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.card .header {
  /*padding: 15px 15px 0;*/
  text-align: center;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 300;
  margin: 20px 0 15px;
}

h1, .h1 {
  font-size: 52px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 28px;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 18px;
}

h5, .h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
}


/*   navbar    
.navbar {
  border-radius: 0px;
  width: 5%;
  padding-left: 0px;
  height:100%;
}

.navbar .navbar-brand {
  /*margin: 18px 0px 18px;
  padding: 15px 15px;
  font-size: 1.6em;
  color: #eee;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
}
.navbar-brand > img{
  display: inline-block;
  width: 50px;
  height: auto;
  padding: 0em;
  vertical-align: top;
  margin: 2em -.5em;
  position: relative;
  top: -40px;
  background-color: #383448;
  border-radius: 100%;
}
.navbar-brand > img:hover{
    background-color: #433d58;
}
.navbar .navbar-nav > li > a {
  padding: 10px 15px;
  margin: 10px 5px;
  position: relative;
  color: #eee;
}

.navbar .navbar-nav > li > a [class^="fa"] {
  font-size: 19px;
  position: relative;
  line-height: 16px;
  top: 1px;
}
*/

/*		navbar		*/
#navbar{
	width: 5%;
	padding-left: 0px;
	height:100%;
}

@media (min-width: 768px) {
	.navbar-collapse {
		height: auto;
		border-top: 0;
		box-shadow: none;
		max-height: none;
		padding-left:0;
		padding-right:0;
	}
	.navbar-collapse.collapse {
		display: block !important;
		width: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-x: visible;
	}

	.navbar{
		max-width:80px;
		margin-right: 0;
		margin-left: 0;
		height:100%;
	}

	.navbar-nav,
	.navbar-nav > li,
	.navbar-left,
	.navbar-right,
	.navbar-header{
		float:none !important;
	}
	
	.navbar-nav{
		padding-top:5em;
	}
	
	.navbar .navbar-nav > li > a {
	  padding: 10px;
	  margin: 10px 5px;
	  position: relative;
	  color: #eee;
	}


	.navbar-right .dropdown-menu {left:0;right:auto;}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
	
	.navbar-brand > img{
	  display: inline-block;
	  width: 50px;
	  height: auto;
	  padding: 0em;
	  vertical-align: top;
	  margin: 2em 0em;
	  position: relative;
	  top: -40px;
	  background-color: #383448;
	  border-radius: 100%;
	}
	
	.navbar-brand > img:hover{
    background-color: #433d58;
	}
}

}


.game {
	cursor: crosshair;
  margin: 1em auto;
}
